* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Exo 2', sans-serif;
  font-size: 24px;
  letter-spacing: 8px;
  color: #fff;
  background: linear-gradient(243.18deg, #65DFC9 0%, #6596F6 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}